* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}

a {
    text-decoration: none;
}

.demand-status-select span {
    display: none;
}

.demand-add-status-select span {
    display: none;
}

.demand-status-select .el-select__wrapper {
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0);
}

.demand-headId-select .el-select__wrapper {
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0);
}

.cell{
    width: 100%;
}

.click-dialog-input .el-input__wrapper {
    box-shadow: none !important;
    border: 1px solid rgba(0,0,0,0)!important;
    background-color: rgba(0, 0, 0, 0);
}

.click-dialog-input .el-input__wrapper:hover {
    box-shadow: none !important;
    border: 1px solid #409EFF!important;
    background-color: rgba(0, 0, 0, 0);
}

.click-dialog-input .el-input__wrapper:focus {
    box-shadow: none !important;
    border: 1px solid #409EFF!important;
    background-color: rgba(0, 0, 0, 0);
}

